# Dependencies
node_modules/

# Environment Variables & Secrets
.env
.env.local
.env.*.local

# Vercel Project Info
.vercel/
project.json

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS and Scratch Files
.DS_Store
Thumbs.db
*.tmp
*.temp
